{% extends 'base.html'%} {% block content %}{% import 'macros.html' as macro%}

<!-- Styles block -->



<div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for News" class="form-control">
        <input type="submit" value="Search" class="btn btn-default">
    </form>
    <div class="current">
        <!-- Current news  -->
        <h1 margin> Current News </h1>
        <ul>
            {{ macro.displayNewsList(current)}}
        </ul>
    </div>
    <div class="world">
        <!-- world news -->
        <h1>World news</h1>
        <ul>
            {{ macro.displayNewsList(world)}}{% endblock %}
        </ul>
    </div>